<div class="hx:flex hx:flex-col hx:md:flex-row hx:gap-8 hx:items-center hx:my-12 hx:bio-container">
  <!-- 左侧头像 -->
  <div class="hx:w-full hx:md:w-1/3 hx:flex hx:justify-center">
    <div class="hx:w-64 hx:h-64 hx:rounded-full hx:overflow-hidden hx:shadow-lg hx:bio-avatar">
      <img
        id="author" 
        src="{{ .Site.Params.avatar | default "images/avatar.jpg" | relURL }}" 
        alt="{{ .Site.Params.author | default "Author" }}" 
        class="hx:w-full hx:h-full hx:object-cover"
      >
      {{/*  此处添加姓名、所属单位  */}}
      {{/*  <h2 class="hx:text-center hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Get "author" | default "Your Name" }}</h2>  */}}
    </div>
  </div>
  
  <!-- 右侧文本 -->
  <div class="hx:w-full hx:md:w-2/3 hx:prose hx:dark:prose-invert hx:bio-text">
    <h2 id="author" class="hx:text-4xl hx:font-bold hx:mb-4">
      {{ .Page.Params.author | default "Your Name" }}
    </h2>
    <h3 id="role" class="hx:text-4xl hx:font-bold hx:mb-4">
      {{ .Page.Params.role | default "Your Role" }}
    </h3>
    <h3 id="institute" class="hx:text-4xl hx:font-bold hx:mb-4">
      {{ .Page.Params.institute | default "Your Institute" }}
    </h3>
    <div class="hx:text-lg hx:space-y-4">
      {{ .Inner | safeHTML }}
    </div>
  </div>
</div>
